body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    height: 30em;
    background-image: url('./images/slide-01.jpg');
    background-position: center;
    background-size: cover;
}

.navbar{
    display: flex;
    justify-content: space-between;
    color: gold;
    padding-top: 2%;
}

.navbar h2{
    margin-left: 5%;
    margin-top: -0.3%;
    font-size: 1.8em;
}

.navbar nav{
    margin-right: 5em;
}

.navbar nav a{
    text-decoration: none;
    margin-left: 3em;
    color: #fff;
    font-size: 1.0em;
}

.navbar nav a:hover{
    color:gold;
}

.socials{
    margin-right: 1.5%;
}

.navbar .socials i{
    font-size: 1.1em;
    margin-left: 10px;
}

.fa-whatsapp{
    color: rgb(10, 228, 10);
}

.fa-facebook{
    color: rgb(67, 67, 247);
}
.fa-facebook{
    color: blue;
}
.fa-telegram{
    color: rgb(162, 162, 240);
}
.fa-instagram{
    color: rgb(248, 28, 65);
}
.fa-linkedin{
    color: rgb(6, 6, 250);
}

.my-id{
    width: 50%;
    color: #fff;
    margin: 70px auto;
    text-align: center;
    border: 3px solid rgb(253, 171, 18);
    background-color: rgba(185, 195, 240, 0.1);
    padding-top: 20px 0px;
    text-shadow: 2px 2px #000;
}

.my-story{
    display: flex;
    width: 80%;
    margin-top: 30px;
    margin-left: 15%;
}

.slider marquee{
    width: 25em;
    height: 450px;
    margin-top: 20px;
}

.slider-track img{
    width: 380px;
    height: 450px;
}

.about-info{
    margin-left:3%;
}

.about-info h1{
    background-color: rgb(253, 171, 18);
    box-shadow: 2px 3px #000;
    text-shadow: 2px 2px #000;
    padding: 1%;
    width: 80%;
    text-align: center;
    border-radius: 0px 200px 0px 0px;
    color: #fff;
}

.about-info section{
    width: 80%;
    border-left: 5px solid rgb(253, 171, 18);
    padding-left: 3%;
    padding-bottom: 5px;
}

.about-info p{
    line-height: 2;
}

.about-info button{
    display: block;
    margin: 3% auto;
    padding: 10px 25px;
   background-color:rgb(253, 171, 18);
   border: none;
   border-radius: 12px;
}

.about-info button:hover{
    background-color: #000;
}

.about-info button a{
    text-decoration: none;
    color: #fff;
}

.about-info li{
    color: #fff;
    margin-left: 5px;
}


/* .slider{
    width: 30%;
}
.slider marquee{
    width: 30%;
    height: 70%;
} 

.slider-track img{
    width: 100%;
} */


.course-section{
    margin-top: 4%;
    overflow: hidden;
}

.course-section h1{
    background-color: rgb(253, 171, 18);
    color: #fff;
    text-shadow: 2px 2px #000;
    box-shadow: 2px 3px #000;
    padding: 5px 0px;
    text-align: center;
    border-radius: 200px 200px 0px 0px;
    width: 80%;
    margin: 0px auto;
}

.semester-courses{
    width: 80%;
    margin-top: 20px;
    margin-left: 11.5%;
}

.courses{
    width: 30%;
    height: 400px;
    float: left;
    overflow: hidden;
    margin-left: 20px;
    margin-bottom: 10px;
    /* border: 2px solid rgb(253, 171, 18); */
    background-color: rgba(185, 195, 240, 0.1);
    color: rgb(253, 171, 18);
}

.courses img{
    width: 100%;
    height: 200px;
    margin-bottom: -15px;
}

.courses aside{
    padding: 0px 15px;
}

.courses aside p{
    color: #000;
    line-height: 1.3;
    margin-top: -5%;
    letter-spacing: 0.1px;
}

.calender{
    margin-left: 25%;
    margin-top: 2%;
    width: 60%;
}

.calender-heading h1{
    background-color: rgb(253, 171, 18);
    color: #fff;
    text-shadow: 2px 2px #000;
    box-shadow: 2px 3px #000;
    padding: 5px 0px;
    text-align: center;
    border-radius: 200px 200px 0px 0px;
    width: 80%;
    /* margin-left:  */
    margin-bottom: 5%;
}

.calender table{
    border:3px solid #000;
    width:70%;
    margin-left: 5%;
}

/* .calender img{
    width: 60%;
    height: 500px;
    margin-left: 250px;
    margin-top: 50px;
} */

.testimonial section{
    display: flex;
    width: 90%;
    margin: 1% 5%;
}

.testimonial h3{
    font-size: 1.9em;
    color: rgb(253, 171, 18);
    text-align: center;
    text-shadow: 2px 2px #000;
}

.message{
    background-color: rgb(253, 171, 18);
    margin-left: 1%;
    border-radius: 12px;
    padding: 15px;
}

.message h2{
    color: #fff;
    margin-bottom: -2%;
}

.message p{
    font-size: 1em;
    line-height: 1.5;

}

 /*Footer*********************************/
 .footer-container{
    background-color: rgb(253, 171, 18);
    justify-content: center;
    margin-bottom: -5%;
}

.footer-container nav{
    text-align: center;
    padding-top: 20px;
}

.footer-container nav a{
    text-decoration: none;
    margin-left: 0.5%;
    color: #000;
    font-weight: 700;
}

.footer-container nav a:hover{
    color:#fff;
}

.footer-container aside{
    display: flex;
    margin-left: 41%;
}

.footer-container aside h5{
    margin-left: 2%;
}

.footer-container .socials{
    margin-left: 42%;
}

.footer-container .socials i{
    margin-left: 2%;
    font-size: 1.5em;
}
